html {
    height: 100%;
    overflow: hidden;
}

body {
    max-width: 100%;
    height: 100vh;
    perspective: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-sign-up-section {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header-menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 79px;
    padding-right: 79px;
}

.header-title-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: color 1.5s linear 0.5s;
}

.header-title-link:hover {
    color: #3CB878;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-icons-link {
    display: block;
}

.header-mail-link {
    margin-left: 27px;
}

.header-nav-link {
    margin-left: 24px;
}

.header-icons {
    transition: fill 1.5s linear 0s;
}

.header-icons-link:hover .header-icons {
    fill: #3CB878;
}

.decoration-line-header {
    display: block;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 20px 27px 19px 25px;
}

.header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header-list-item-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-list-item-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: color 1.5s linear 0s;
}

.header-list-item-link:hover {
    color: #3CB878;
}

.container {
    max-width: 444px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    padding: 31px 60px 38px 60px;
}

.style-square {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.sign-up-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sign-up-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 15px;
}

.sign-up-link-log-in {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-bottom: 13px;
    transition: color 1.5s linear 0s;
}

.sign-up-link-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.sign-up-buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 31px;
}

.sign-up-buttons-facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    border-radius: 4px;
    transition: background 1.5s linear 0s;
}

.sign-up-buttons-facebook:hover {
    background: #022263;
}

.facebook-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 27px;
    margin-left: 50px;
}

.decoration-line-f {
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-link::before {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    position: absolute;
    background: url("../img/f.png") no-repeat;
    top: 12px;
    left: 16.77px;
}

.sign-up-buttons-google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    border-radius: 4px;
    transition: background 1.5s linear 0s;
}

.sign-up-buttons-google:hover {
    background: #AB1F09;
}

.google-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 27px;
    margin-left: 50px;
}

.decoration-line-g {
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    left: 49px;
    top: 10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-link::before {
    content: '';
    width: 30px;
    height: 19px;
    position: absolute;
    left: 12px;
    top: 15px;
    background: url("../img/g.png");
}

.sign-up-text {
    text-align: center;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
}

.sign-up-text-span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.sign-up-text-span::before {
    display: block;
    width: 152px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    left: 0;
}

.sign-up-text-span:after {
    display: block;
    width: 152px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;;
    top: 50%;
    right: 0;
}

.form-field {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    width: 100%;
    height: 44px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
}

.form-field:focus {
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.confirm-password {
    margin-bottom: 0;
}

.form-field[placeholder="*"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.checkbox-container {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.form-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    background-size: 14px;
    margin: 0;
}
.form-checkbox:checked {
    background-image: url("../img/Vector_V.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.form-checkbox:hover {
    background-image: url("../img/Vector_checked.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.checkbox-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 8px;
}

.checkbox-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: color 1.5s linear 0s;
}

.checkbox-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.sign-up-submit-button {
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px;
    margin-top: 20px;
    transition: background 1.5s linear 0s;
}

.sign-up-submit-button[value="Create Account"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.sign-up-submit-button:hover {
    background: #01813F;
}